.headerWrapper{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.headerText{
    letter-spacing: 1rem;
    font-size: 3rem;
    color: var(--light-yellow)
}

.headerImageWrapper{
    height: 400px;
    width: 400px;
}

.headerImage{
    width: 100%;
}